.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
}
.container:hover {
  cursor: pointer;
}
.img {
  max-width: 300px;
  height: auto;
  margin-right: 0.5rem;
}
.details {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.details span {
  color: rgb(62, 61, 61);
  text-decoration: none;
  font-size: 0.8rem;
  margin-left: 0.1rem;
}

.content {
  margin-bottom: 1rem;
}
.textContainer {
  margin: 1rem 0 0 1rem;
}
@media (min-width: 770px) {
  .container {
    flex-direction: row;
  }
}
