.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.container:hover {
  cursor: pointer;
}
.profileImg {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 0.5rem;
}
.text {
  color: rgb(62, 61, 61);
  text-decoration: none;
  font-size: 0.8rem;
  margin: 1rem 0 1rem 0;
}
