.button {
  border-radius: 0.75rem;
  padding: 0.3rem 1rem;
  text-align: center;
  margin: 0 1rem;
  transition: transform 0.3s ease-in-out;
}
.button:hover {
  transform: scale(1.05);
  cursor: pointer;
}
