.topContainer {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background: white;
  padding: 2rem 1.2rem;
  width: 85%;
  margin: auto;
  height: auto;
}
.webHead {
  text-align: center;
}
.loginMet {
  padding: 1rem 0 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
}
.authItem {
  width: 40px;
  height: 40px;
}
.authItemContainer {
  margin: 0 2rem 0 2rem;
  padding: 0.5rem 2rem;
  border: 1px solid black;
  border-radius: 0.5rem;
}
.down {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
}
@media (min-width: 770px) {
  .container {
    width: 70%; /* Show when the width is greater than 800px */
  }
}
