.topContainer {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background: white;

  padding: 1rem;
  width: 70%;
  margin: auto;
  height: auto;
}
.webHead {
  text-align: center;
}
.loginMet {
  padding: 1rem 0 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
}
.authItem {
  width: 40px;
  height: 40px;
}
.authItemContainer {
  margin: 0 2rem 0 2rem;
  padding: 0.5rem 2rem;
  border: 1px solid black;
  border-radius: 0.5rem;
}
.down {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
}
