.topHeader {
  height: 40vh;
  /* background: linear-gradient(to bottom, #a8edea 0%, #fed6e3 100%); */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 2rem;
}
.arc {
  border: 2px solid red;
  min-width: 9rem;
  min-height: 2rem;
  padding: 0.5em;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}
.buttonGroup {
  display: flex;
  justify-content: center;
}
.newPosts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.newPostsH {
  padding: 0 5% 5% 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* background: linear-gradient(to bottom, #fed6e3 10%, #fff 100%); */
}
.newPostsH h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
}
.recPostsH h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
}
.recPostsH {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 2rem;
  width: 100%;
}
.leftAlign {
  text-align: right;
  width: 100%;
}
