.topHeader {
  height: 40vh;
  background: linear-gradient(to bottom, #a8edea 0%, #fed6e3 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 2rem;
}
.arc {
  border: 2px solid red;
  min-width: 9rem;
  min-height: 2rem;
  padding: 0.5em;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}
.buttonGroup {
  display: flex;
  justify-content: center;
}
