.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 1rem 0;
  color: black;
  height: 10%;
  /* background-color: #a8edea; */
  width: 90%;
  margin: auto;
}
.left {
  flex: 1;
  display: none;
}
.mid {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}
.item {
  text-decoration: none;
  color: black;
  font-family: inherit;
  margin: 0 0.7rem;
}
.item:hover {
  text-decoration: underline;
}

@media (min-width: 801px) {
  .left {
    display: block; /* Show when the width is greater than 800px */
  }
}
