.container {
  /* display: flex; */
  padding: 0.7rem;
  text-align: center;
  width: 100%;
  /* justify-content: space-evenly; */
  border-top: 1px solid rgb(169, 164, 164);
}
.inC {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: space-around;
}
@media (min-width: 770px) {
  .inC {
    width: 60%; /* Show when the width is greater than 800px */
  }
}
