.container {
  /* display: flex; */
  padding: 0.7rem;
  text-align: center;
  width: 100%;
  /* justify-content: space-evenly; */
  border-top: 1px solid rgb(169, 164, 164);
}
.inC {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: space-evenly;
}
@media (min-width: 770px) {
  .inC {
    width: 60%;
  }
}
@media (max-width: 475px) {
  .inC {
    /* margin-left: 45%; */
    align-items: center;
    flex-direction: column;
  }
}
