.labelText {
  display: block;
  margin-bottom: 1rem;
  margin-top: 2rem;
}
.txt {
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  background-color: inherit;
  outline: none;
  padding: 0.5rem;
}
