.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.text {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.uploadSection {
  margin-bottom: 20px;
}

.uploadLabel {
  font-size: 16px;
  display: block;
  margin-bottom: 10px;
}

.buttonContainer {
  text-align: right;
}
.minimalDropdown {
  display: block;
  background-color: white;
  /* border: 2px solid black; */
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  font-size: 16px;
}
.label {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: block;
}
